body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin-top: 50px;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

form {
    width: 100%;
    margin: 20px 0;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333333;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #666666;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 16px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
}

button:hover {
    background-color: #45a049;
}

.error-message,
.success-message {
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.error-message {
    background-color: #ffcccc; /* Light red */
    color: #cc0000; /* Dark red */
}

.success-message {
    background-color: #dff0d8; /* Light green */
    color: #3c763d; /* Dark green */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #ffffff;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px 15px;
    text-align: left;
    font-family: 'Arial', sans-serif;
}

th {
    background-color: #009879;
    color: white;
}

td {
    color: #333333;
}

tr:nth-child(even) {
    background-color: #f3f3f3;
}

tr:hover {
    background-color: #f1f1f1;
}

a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.header h1 {
    color: #333333;
}

.header button {
    background-color: red;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.header button:hover {
    background-color: darkred;
}
